<html>
<head>
	<title></title>
</head>
<body>
	<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>
